<!DOCTYPE html>
<html lang="en">
<head>
    <script>var credentials = {{ credentials }}; console.log(credentials);</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/importToDatabase.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>
<body>
<div><b>Welcome</b></div>
<div>previous rides:</div>
{% for x in range(user_data['history']['history']|length) %}
<div>Distance of trip: {{ user_data['history']['history'][x]['distance'] }} miles.    Estimated Price: ${{  user_data['price_list'][x] }}
You could have <b>walked</b> instead of buying a rideshare in {{ user_data['walking_times'][x] }}
You could have <b>biked</b> instead of buying a rideshare in {{ user_data['biking_times'][x] }}</div>
    <br/>
{% endfor %}
<b>Past 5 ride total: {{ user_data['price_tot'] }}</b>
</body>
</html>