<!DOCTYPE html>
<html lang="en">
<head>
    <script>var credentials = {{ credentials }}; console.log(credentials);</script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/importToDatabase.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <meta charset="UTF-8">
    <title>dashboard</title>
</head>

<body>
	<div class="navbar">
		<nav class="navbar fixed-top navbar-dark bg-faded">
			<a class="navbar-brand" href="">
				<img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
				Get Off Your Lazy Butt.com
			</a>
		</nav>
	</div>
<div>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="text-center">You could have saved: <b>${{ user_data['price_tot'] }}!</b></h1>
<h2 class="text-center">By getting off your lazy butt!</h2>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Trip Distance</th>
			<th>Estimated Price</th>
			<th>Biking Time</th>
			<th>Walking Time</th>
		</tr>
	</thead>
	<tbody>
		{% for x in range(user_data['history']['history']|length) %}
		<tr>
			<td>{{ user_data['history']['history'][x]['distance'] }} mi
			</td>
			<td>
			    ${{  user_data['price_list'][x] }}
			</td>
			<td>
				{{ user_data['biking_times'][x] }}
			</td>
			<td>
				{{ user_data['walking_times'][x] }}
			</td>
		</tr>
{% endfor %}
	</tbody>
</body>
</html>