<!DOCTYPE html>
<html>
<head>

	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}"
	
</head>

<body>
	<div class="navbar">
		<nav class="navbar fixed-top navbar-dark bg-faded">
			<a class="navbar-brand" href="">
				<img src="{{ url_for('static', filename='img/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
				Get Off Your Lazy Butt.com
			</a>
		</nav>
	</div>
	<div class="container">
		<form class="form-signin">
			<h2 class="form-signing-heading">Please Login or Register</h2>

			<input id="txtEmail" type=email placeholder="Email" class="form-control">
			<input id="txtPassword" type=password class="form-control" placeholder="Password">
			<div id="errorLabel"></div>
			<button id="btnLogin" type="button" class="btn btn-lg btn-primary btn-block">Login</button>
			<button id="btnSignUp" type="button" class="btn btn-lg btn-primary btn-block">Sign Up</button>
		</form>
	</div>

	<script src="{{ url_for('static', filename='js/loginsignup.js') }}"></script>

</body>

</html>