<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="../static/css/homepage.css">
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
</head>

<body>
	<div id="navbar">WELCOME</div>
	<div class="container">
		<input id="txtEmail" type=email placeholder="Email">
		<input id="txtPassword" type=password placeholder="Password">
		<div id="errorLabel"></div>
		<button id="btnLogin">Login</button>
		<button id="btnSignUp">Sign Up</button>
	</div>

	<script src="../js/loginsignup.js"></script>
<a href="{{ loginlink }}">uber login here ignore login info</a>
</body>

</html>