<!DOCTYPE html>
<html>
<head>

	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
</head>

<body>

<form action="../" method="post">

	<div class="container">
		<input id="txtEmail" type=email placeholder="Email">
		<input id="txtPassword" type=password placeholder="Password">
		<div id="errorLabel"></div>
		<button id="btnLogin" type="submit">Login</button>
		<button id="btnSignUp" type="submit">Sign Up</button>
	</div>

	<script src="js/loginsignup.js"></script>
</body>

</html>